[Desktop Entry]
Name=KTp
Name[bs]=KTp
Name[cs]=KTp
Name[da]=KTp
Name[de]=KTp
Name[es]=KTp
Name[fi]=KTp
Name[fr]=KTp
Name[hu]=KTp
Name[it]=KTp
Name[mr]=के-टीपी
Name[nl]=KTp
Name[pl]=KTp
Name[pt]=KTp
Name[pt_BR]=KTp
Name[sk]=KTp
Name[sv]=KTP
Name[tr]=KTp
Name[ug]=KTp
Name[uk]=KTp
Name[x-test]=xxKTpxx
GenericName=KDE Telepathy
GenericName[bs]=KDE Telepathy
GenericName[cs]=KDE Telepathy
GenericName[da]=KDE Telepathy
GenericName[de]=KDE Telepathy
GenericName[es]=KDE Telepathy
GenericName[fi]=KDE Telepathy
GenericName[fr]=Telepathy pour KDE
GenericName[hu]=KDE Telepathy
GenericName[it]=Telepathy KDE
GenericName[mr]=केडीई टेलिपथी
GenericName[nl]=KDE Telepathy
GenericName[pl]=KDE Telepathy
GenericName[pt]=Telepathy do KDE
GenericName[pt_BR]=KDE Telepathy
GenericName[sk]=KDE Telepathy
GenericName[sv]=KDE Telepathy
GenericName[tr]=KDE Telepathy
GenericName[uk]=KDE Telepathy
GenericName[x-test]=xxKDE Telepathyxx
Comment=Instant Messenger for Plasma Active
Comment[bs]=Instant poruke za Plasma Active
Comment[cs]=Komunikátor pro Plasma Active
Comment[da]=Instant messaging til Plasma Active
Comment[de]=Instant-Messenger für Plasma Active
Comment[es]=Cliente de mensajería instantánea para Plasma Active
Comment[fi]=Pikaviestiohjelma Plasma Activelle
Comment[fr]=Messagerie instantanée pour Plasma Active
Comment[hu]=Azonnali üzenetküldő a Plasma Active-hoz
Comment[it]=Messaggistica istantanea per Plasma Active
Comment[mr]=प्लाज्मा एक्टिव्ह करिता त्वरित संदेशवाहक
Comment[nl]=Instant-messenger voor Plasma Active
Comment[pl]=Komunikator internetowy dla Plazmy Active
Comment[pt]=Mensageiro Instantâneo para o Plasma Active
Comment[pt_BR]=Mensageiro instantâneo para o Plasma Active
Comment[sk]=Instant Messenger pre Plasma Active
Comment[sv]=Direktmeddelanden för Plasma Aktiv
Comment[tr]=Plasma Active için Anında Mesajlaşma
Comment[uk]=Програма миттєвого зв’язку для портативної Плазми
Comment[x-test]=xxInstant Messenger for Plasma Activexx

Exec=ktp-active -graphicssystem raster %u
Terminal=false
Icon=active-ktp
Type=Service
ServiceTypes=Plasma/Applet
Categories=Qt;KDE;Network;ActiveCore;
X-KDE-PluginInfo-Website=
MimeType=text/html;text/xml;application/xhtml+xml;
