[Desktop Entry]
Name=KTp
GenericName=KDE Telepathy
Comment=Instant Messenger for Plasma Active

Exec=ktp-active -graphicssystem raster %u
Terminal=false
Icon=active-ktp
Type=Service
ServiceTypes=Plasma/Applet
Categories=Qt;KDE;Network;ActiveCore;
X-KDE-PluginInfo-Website=
MimeType=text/html;text/xml;application/xhtml+xml;
