[Desktop Entry]
Name=KTp
Name[cs]=KTp
Name[de]=KTp
Name[it]=KTp
Name[nl]=KTp
Name[pt]=KTp
Name[pt_BR]=KTp
Name[sk]=KTp
Name[sv]=KTP
Name[tr]=KTp
Name[uk]=KTp
Name[x-test]=xxKTpxx
GenericName=KDE Telepathy
GenericName[cs]=KDE Telepathy
GenericName[de]=KDE Telepathy
GenericName[it]=Telepathy KDE
GenericName[nl]=KDE Telepathy
GenericName[pt]=Telepathy do KDE
GenericName[pt_BR]=KDE Telepathy
GenericName[sk]=KDE Telepathy
GenericName[sv]=KDE Telepathy
GenericName[tr]=KDE Telepathy
GenericName[uk]=KDE Telepathy
GenericName[x-test]=xxKDE Telepathyxx
Comment=Instant Messenger for Plasma Active
Comment[cs]=Komunikátor pro Plasma Active
Comment[it]=Messaggistica istantanea per Plasma Active
Comment[nl]=Instant-messenger voor Plasma Active
Comment[pt]=Mensageiro Instantâneo para o Plasma Active
Comment[pt_BR]=Mensageiro instantâneo para o Plasma Active
Comment[sk]=Instant Messenger pre Plasma Active
Comment[sv]=Direktmeddelanden för Plasma Aktiv
Comment[tr]=Plasma Active için Anında Mesajlaşma
Comment[uk]=Програма миттєвого зв’язку для портативної Плазми
Comment[x-test]=xxInstant Messenger for Plasma Activexx

Exec=ktp-active -graphicssystem raster %u
Terminal=false
Icon=active-ktp
Type=Service
ServiceTypes=Plasma/Applet
Categories=Qt;KDE;Network;ActiveCore;
X-KDE-PluginInfo-Website=
MimeType=text/html;text/xml;application/xhtml+xml;
