[Desktop Entry]
Comment=Touchscreen friendly Instant Messenger
Comment[cs]=Komunikátor uzpůsobený pro dotykové obrazovky
Comment[fr]=Messagerie instantanée conviviale pour les écrans tactiles
Comment[nl]=Instant-messenger die vriendelijk is voor aanraakschermen
Comment[pt]=Mensageiro instantâneo amigável para ecrãs por toque
Comment[pt_BR]=Mensageiro instantâneo amigável para telas sensível ao toque
Comment[sk]=Instant messenger priateľský s dotykovými obrazovkami
Comment[sv]=Pekskärmsvänligt direktmeddelandeverktyg
Comment[tr]=Dokunmatik ekran dostu Anlık Mesajlaşma
Comment[uk]=Програма миттєвого зв’язку для сенсорних пристроїв
Comment[x-test]=xxTouchscreen friendly Instant Messengerxx
Encoding=UTF-8
Icon=active-ktp
Keywords=
Name=Touch Instant Messenger
Name[cs]=Dotykový Komunikátor
Name[fr]=Messagerie instantanée pour les écrans tactiles
Name[nl]=Instant messenger voor aanraken
Name[pt]=Mensageiro Instantâneo por Toque
Name[pt_BR]=Mensageiro instantâneo para telas sensível ao toque
Name[sk]=Dotykový instant messenger
Name[sv]=Direktmeddelandeverktyg för pekskärm
Name[tr]=Dokunmatik Anında Mesajlaşma
Name[uk]=Сенсорна програма миттєвого зв'язку
Name[x-test]=xxTouch Instant Messengerxx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Artur Debski
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=xmentero@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.ktp.active
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=800,600
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
